{% extends "ekimeimysql1/base.html" %}
{% block title %}駅名動画データベース{% endblock %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'ekimeimysql1/top.css' %}">
<section class="top-menu-container">
	<div class="top-menu-background">
		<img src="">
	</div>
	<div class="top-search-container">
		<h3 class="top-search-title">フリーワード検索<input type="text" name=""></h3>
	</div>
	<nav class="top-menu">
		<ul>
			<li>
				<a>作者から探す</a>
			</li>
			<li>
				<a>鉄道などから探す</a>
			</li>
			<li>
				<a>楽曲から探す</a>
			</li>
		</ul>
	</nav>
</section>
<section class="top-movie-list">
	<div class="movie-list-left">
		<h4 class="movie-list-header">新着動画</h4>
		{% if movies %}
		<ul class="movie-ul">
			{% for movie in movies %}
			<li class="movie-card">
				<a href="{% url 'ekimeimysql1:detail' movie.main_id %}">
					<img class="movie-img" src="https://i.ytimg.com/vi/{{ movie.youtube_id }}/hqdefault.jpg">
					<div class="movie-info">
			{% load tz %}
						<p class="movie-published">{{ movie.published_at|timezone:'Asia/Tokyo'|date:"Y/n/d" }}
							{% if movie.part_category %}
							{% for category in movie.part_category %}
								<span class="movie-category" style="background-color: #cc0;">{{ category }}</span>
							{% endfor %}
							{% endif %}
						</p>
						<p class="movie-title">{{ movie.title }}</p>
						<p class="movie-channel">{{ movie.channel }}</p>
					</div>
				</a>
			</li>
			{% endfor %}
		{% else %}
			<p>該当する動画が見つかりませんでした。</p>
		</ul>
		{% endif %}
		<a href="{% url 'ekimeimysql1:list' %}">もっと見る</a>
	</div>
	<div class="movie-list-right">
		<div class="movie-list-right-inner">ここに何かを置く(未定)</div>
	</div>
</section>
<section class="top-notice-container">
	<div class="top-notice">
		<h5 class="notice-header">お知らせ</h5>
		<ul class="notice-ul">
			<li class="notice-li">
				<p class="notice-top">2020/6/1　<span>全体</span></p>
				<div class="notice-bottom"><a>サイトの試作を公開しました</a></div>
			</li>
		</ul>
	</div>
	<div class="top-update">
		<h5 class="update-header">更新情報</h5>
		<ul class="update-ul">
			{% for info in info_list %}
			<li class="update-li">
				<p class="update-top">{{ info.reg_date|timezone:'Asia/Tokyo'|date:"Y/n/d" }}　<span>動画{{ info.get_is_create_display }}</span></p>
				<div class="update-bottom">「<a href="{% url 'ekimeimysql1:detail' info.movie.main_id %}">{{ info.movie }}</a>」を{{ info.get_is_create_display }}しました</div>
			</li>
			{% endfor %}
		</ul>
	</div>
</section>
{% endblock %}