body {
	font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', 'YakuHanJPs', 'Neutral 2', ryo-gothic-plusn, sans-serif;
	margin: 0;
	padding: 0;
	color: #000;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 1;
	letter-spacing: calc(33em / 1000);
}

* {
	box-sizing: border-box;
	word-wrap: break-word;
	line-height: 1.5em;
	margin: 0;
	/*padding: 0;*/
}

a {
	text-decoration: none;
	color: #027181;
}

a:hover {
	color: #1cb1c4;
}

a. button {
	color: inherit;
	font-weight: inherit;
	cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: inherit;
	line-height: inherit;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-content {
	padding: 32px;
}

.line-ul {
	margin: 0;
	padding: 0;
}

.title {
	font-size: 1.2rem;
	margin: 16px 0;
}

.company-name {
	padding: 8px 20px;
	color: #fff;
	position: relative;
}

.company-name:after {
	display: block;
	content: '';
	position: absolute;
	top: 16px;
	left: 4px;
	width: 6px;
	height: 6px;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.company-li:nth-child(even) .company-name {
	background-color: #06262b;
}

.company-li:nth-child(odd) .company-name {
	background-color: #001618;
}

.line-ul {
	margin-left: 0px;
	background-color: #f3f7f7;
	padding: 16px 32px;
}

.line-li {
	padding: 2px 0;
}