body {
	font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, "Noto Sans Japanese", Meiryo, メイリオ, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
	margin: 0;
	padding: 0;
	color: #000;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 1;
	letter-spacing: calc(33em / 1000);
}

* {
	box-sizing: border-box;
	word-wrap: break-word;
	line-height: 1.5em;
	margin: 0;
	/*padding: 0;*/
}

a {
	text-decoration: none;
	color: #027181;
}

a:hover {
	color: #1cb1c4;
}

a. button {
	color: inherit;
	font-weight: inherit;
	cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: inherit;
	line-height: inherit;
}

ul, li {
	list-style: none;
}

.background {
	background: #f0f0f0;
}

.station-header {
	min-height: 256px;
	padding: 64px 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
}

.station-header-content {
	width: 100%;
}

.station-category {
	padding: 4px 8px;
	background: #00a300;
	font-size: 0.8em;
	border-radius: 4px;
	color: #fff;
}

.service-category {
	margin-top: 16px;
	padding: 4px 8px;
	background: #333;
	font-size: 0.8em;
	border-radius: 4px;
	color: #fff;
}

.station-name {
	margin-top: 16px;
	font-size: 2.0em;
}

.line-name {
	margin: 16px 0 0 0;
	padding: 4px 0;
	background: #06262b;
}

.line-name-inner {
	max-width: 1280px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	position: relative;
}

.line-name a {
	color: #fff;
	text-decoration: underline;
}

.line-link {
	font-size: 1.2em;
}

.station-before,
.station-after {
	position: absolute;
	bottom: 0;
}

.station-before {
	left: 32px;
}

.station-after {
	right: 32px;
}

.line-color {
	width: 100%;
	height: 8px;
	margin: 0 0 16px 0;
	display: flex;
}

.line-color-before,
.line-color-after {
	height: 100%;
	width: 50%;
}

.line-formal {
	margin-bottom: 16px;
}

.main-content {
	background: #fff;
	padding: 32px;
	box-shadow: 0 -2px 6px rgba(0,0,0,0.6);
	display: flex;
}

.main-content-inner {
	display: flex;
	margin: 0 auto;
	max-width: 1280px;
	width: 100%;
}

.station-movie-list {
	width: 64%;
}

.movie-list-header {
	font-size: 1.4em;
	margin: 0 0 16px 0;	
}

.movie-ul {
	margin: 0;
	padding: 0;
}

.movie-card {
	border-bottom: 1px solid #ccc;
}

.movie-card a {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 4px 0;
	color: #333;
}

.movie-img {
	width: 246px;
	height: calc(246px / 16 * 9 - 2px);
	object-fit: cover;
}

.movie-info {
	padding: 4px 0 0 16px;
	overflow: hidden;
}

.movie-published,
.movie-duration {
	font-size: 0.8em;
	font-weight: normal;
	color: #666;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.movie-title {
	height: 24px;
	margin: 4px 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.movie-channel {
	font-size: 0.9em;
	color: #666;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.movie-category {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.station-transfer {
	width: 36%;
	margin: 0;
	padding-left: 16px;
}

.transfer-header {
	font-size: 1.4em;
	margin: 0 0 16px 0;
}

.station-lines-ul {
	margin: 0;
	padding: 0;
}

.transfer-line-formal {
	background: #031d29;
	padding: 8px 16px;
	font-size: 14px;
}

.transfer-line-formal a {
	color: #fff;	
}

.service-ul {
	margin: 0;
	padding: 0 0 0 1em;
}

.service-li {
	padding: 8px 8px 8px 8px;
	border-left: 1em solid;
	background: #f2f2f2;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.transfer-station-prev-color,
.transfer-station-next-color {
	position: absolute;
	left: -1em;
	height: 50%;
	width: 1em;
}

.transfer-station-prev-color {
	top: 0;
}

.transfer-station-next-color {
	bottom: 0;
}

.service-li a {
	color: #333;
}

.service-li-same {
	color: #aaa;
}

.service-li-same a {
	color: #aaa;
}

.transfer-station-name {
}

.transfer-line-name {
	padding: 0 0 0 1em;
	transition: transform 0.1s;
}

.transfer-line-name:hover {
	transform: translate(8px, 0);
}

.line-service-name-sub {
	font-size: 0.8em;
}