{% extends 'datanewsql/base.html' %}

{% block title %}はじめに{% endblock %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'datanewsql/notice.css' %}">
<div class="main-content">
	<a href="{% url 'datanewsql:lineservicelistbycompanyview' %}">路線一覧へ戻る</a>
	<h1>はじめに</h1>
	<div class="back">
		<p>この鉄道情報は、駅名動画データベースを作り、見ていただく上で、駅や路線から動画を探しやすくするために整理したものです。</p>
		<p>このデータの開発はまだ発展途上ですので、みなさまに見ていただき、ご意見やご指摘を頂戴した上で、さらに改善したく、まずはこれを公開することにしました。</p>
		<p>このデータの意見は2020年3月31日まで受け付けます。それまでは意見を頂戴する期間としまして、直接データを更新することは基本的にありません。改善点を一旦まとめた上で、改めて更新します。</p>
		<p>意見は管理者（にぐなぐIC）に伝わる形でいただけると幸いです。</p>
	</div>
	<h2>補足</h2>
	<div class="back">
		<p>基礎となる鉄道情報は、「令和元年度 鉄道要覧（国土交通省鉄道局監修）」に基づいております。（但し、一部改変あり。後述。）</p>
		<p>また、探しやすくするために、鉄道要覧基準の正式な路線区間の他に、運行系統（例：京浜東北線のような運行形態や、路面電車の各系統など）別の路線を設け、探しやすさを向上を図っています。</p>
		<p>駅名に読み方を設定したいと考えていますが、こちらはなかなか調べるのに苦労しており、まだ設定できていません。</p>
	</div>
	<h2>運行系統についての備考</h2>
	<div class="back">
		<p>停車駅が正式区間の駅と異なる場合や、複数の路線を横断してラインカラー、ナンバリングなどが設定されている場合に別途設定した区間を、[運転系統]とした。なお、一部これにより正式区間を削除した路線が存在する。</p>
		<p>ナンバリングの指定されている区間を中心に、公式HP掲載の路線図を参考に運行系統を設定。ただ直通運転を行い、ラインカラーが重複しているだけの区間すべてに設定するのはキリがないため、基本的にはナンバリング番号がついている場合のみ行っている。</p>
		<p>鉄道要覧基準の正式区間と別に運行系統を指定した区間を示す。</p>
		<div>
			<h3>JR東日本</h3>
			<ul>
				<li>東海道本線(東京～熱海)</li>
				<li>横須賀線・総武線快速(直通線)</li>
				<li>湘南新宿ライン</li>
				<li>相鉄・JR直通線</li>
				<li>山手線(環状区間)</li>
				<li>中央線・総武線各駅停車</li>
				<li>中央線快速</li>
				<li>京浜東北線</li>
				<li>上野東京ライン</li>
				<li>宇都宮線・高崎線(東京～大宮)</li>
				<li>埼京線</li>
				<li>仙石東北ライン</li>
				<li>常磐線快速</li>
				<li>常磐線各駅停車</li>
				<li>秋田新幹線(田沢湖線・奥羽本線の優等列車扱い)</li>
				<li>山形新幹線(奥羽本線の優等列車扱い)</li>
			</ul>
			<h3>JR西日本</h3>
			<ul>
				<li>湖西線(京都及び敦賀まで延長)</li>
				<li>宝塚線(大阪まで延長、篠山口で分割)</li>
				<li>奈良線(奈良まで延長)</li>
			</ul>
			<h3>JR四国</h3>
			<ul>
				<li>予讃線及び内子線(ナンバリングを基準に、「高松～松山」[Y]と「松山～宇和島」[U]と「向井原～伊予大洲」[S]に変更)</li>
				<li>予土線(宇和島まで延長)</li>
				<li>徳島線(阿波池田まで延長)</li>
			</ul>
			<h3>JR九州</h3>
			<ul>
				<li>山陽本線(小倉まで延長)</li>
				<li>日田彦山線(小倉まで延長)</li>
				<li>筑豊本線(若松線、福北ゆたか線、原田線に分割)</li>
			</ul>
			<h3>私鉄</h3>
			<ul>
				<li>京王線(京王線と京王新線に2系統化)</li>
				<li>東急目黒線(日吉まで延長)</li>
				<li>東急大井町線(溝の口まで延長)</li>
				<li>東京メトロ副都心線(和光市まで延長)</li>
				<li>近鉄奈良線(大阪上本町まで延長)</li>
				<li>琴電長尾線(高松築港まで延長)</li>
				<li>おかでん清輝橋線(岡山駅まで延長)</li>
			</ul>
			<h3>路面電車</h3>
			<ul>
				<li>系統別の運行区間を追加し、別途必要に応じて正式区間も残している。</li>
			</ul>
			<h3>その他、鉄道要覧基準の路線に対し結合・分割を行い、改変を行っている区間</h3>
			<ul>
				<li>【札幌市】札幌市電(1条線、山鼻線、山鼻西線、都心線)</li>
				<li>【横浜市】ブルーライン(1号線、3号線)</li>
				<li>【名古屋市】名城線、名港線(2号線名城線及び名港線、4号線名城線)</li>
				<li>【三岐】三岐線、三岐貨物線(三岐線、近鉄連絡線)</li>
				<li>【京都丹後】宮舞線、宮豊線(宮津線)</li>
				<li>【神戸市】西神・山手線(西神延伸線、西神線、山手線)</li>
			</ul>
			<h3>鉄道要覧基準の路線を削除した区間。すべて他の運転系統に含まれる。</h3>
			<ul>
				<li>【東】山手線</li>
				<li>【東】東北本線(仙石東北ライン直通線)</li>
			</ul>
			<h3>（参考）ラインカラーが重複しており、直通運転を行っているが、キリがないため設定していない区間の一例</h3>
			<ul>
				<li>【北】札沼線(札幌まで直通)、石北本線(旭川まで直通)</li>
				<li>【東】常磐線(仙台まで直通)、仙山線(山形まで直通)</li>
				<li>【西】伯備線(岡山、米子まで直通)、呉線(広島まで直通)、等</li>
			</ul>
			<h3>（参考）1つの路線に複数のラインカラー、または愛称がついているため、分割を検討している区間の一例</h3>
			<ul>
				<li>【北】函館本線(長万部、札幌で分割)、根室本線(新得、釧路で分割)</li>
				<li>【西】山陽本線(上郡、岡山、福山、糸崎、広島、岩国で分割)、山陰本線(城崎温泉、米子、益田で分割)、等</li>
			</ul>
		</div>
	</div>
	<h2>正式路線について、鉄道要覧からの改変箇所と備考</h2>
	<div class="back">
		<h3>すべてのJR貨物線</h3>
		<p>データ整理のため一旦削除。（但し、私鉄の貨物線は掲載）</p>
		<h3>支線を持つ路線</h3>
		<p>便宜上、案内や路線図を参考に区別の名称をつけている。</p>
		<h3>第1、2及び3種開業線</h3>
		<p>それぞれの鉄道管理会社の中で最も数字の小さい会社を採用。（但し、一部例外あり。後述。）</p>
		<h3>鉄道種別が複数存在する路線</h3>
		<p>1つの路線に鉄道区間と軌道区間が混在している場合などは、同一路線名であれば1つの路線としてまとめた。（例：「Osaka Metro 4号線（中央線）」、「東京臨海新交通臨海線（りんかい線）」など）</p>
		<h3>【東】京葉線</h3>
		<p>鉄道要覧上では「西船橋～蘇我」、「東京～南船橋」、「市川塩浜～西船橋」となっているが、分かりやすさのため「東京～蘇我」、「市川塩浜～西船橋」、「西船橋～南船橋」に改変。</p>
		<h3>【西】【のと鉄道】七尾線</h3>
		<p>「七尾～和倉温泉」は、二重戸籍とし、JR西日本及びのと鉄道の双方に所属。</p>
		<h3>【西】大阪環状線及び関西本線</h3>
		<p>「新今宮～今宮」は鉄道要覧通り二重戸籍としている。</p>
		<h3>【九】鹿児島本線及び日豊本線</h3>
		<p>「小倉～西小倉」は鉄道要覧通り二重戸籍としている。</p>
		<h3>【京成】成田空港線</h3>
		<p>第2種開業区間が重複しているため、「京成高砂～印旛日本医大」は北総線と、「空港第2ビル～成田空港」は京成本線と二重戸籍としている</p>
		<h3>【京急】本線</h3>
		<p>鉄道要覧上では「泉岳寺～品川」、「品川～浦賀」となっているが、分かりやすさのため、1つにまとめている。</p>
		<h3>【東京メトロ】7号線南北線、【都営】6号線三田線</h3>
		<p>「目黒～白金高輪」は二重戸籍とし、東京メトロと都営の双方に所属。</p>
		<h3>【鹿児島市】唐湊線</h3>
		<p>鉄道要覧上では「鹿児島中央～中洲通」、「中洲通～工学部前」、「工学部前～郡元」となっているが、分かりやすさのため、1つにまとめている。</p>
	</div>
	<h2>色及びナンバリング</h2>
	<div class="back">
		<p>色は各社HPや路線図から抽出したものを取捨選択して使用。路線に色の指定がない場合は適宜会社カラーを適用している場合あり。ナンバリングは、協力者から提供いただいたものを設定。</p>
	</div>
	<h2>内容について</h2>
	<div class="back">
		<p>一個人が調べてまとめたものですので、基準が曖昧である場合があります。また、ここには記していない改変を行っていたり、情報にミスがあったり、認識に違いがある可能性があります。ご了承ください。</p>
		<p>駅名の表記につきましては、一部「駅データ.jp」を参考にさせていただきました。なお、「ヶ」、「ケ」の区別などの細かい表記については調査中です。この辺りも情報提供していただけると嬉しいです。</p>
		<p>廃駅、未開業駅については、駅名動画での使用履歴と照らし合わせ、改めて順次追加していく予定です。また、高速道路施設名や店舗名などは、別途対応させていく予定です。</p>
	</div>
	<small>&copy; 2020 nignagIC</small>
</div>
{% endblock %}