<head>
	<link rel='stylesheet' href="http://cdn.rawgit.com/JeremyFagis/dropify/master/dist/css/dropify.css" />
	<script src="http://cdn.rawgit.com/JeremyFagis/dropify/master/dist/js/dropify.js"></script>
</head>
<body>

<h3>アップロードするよ</h3>

<form action="{% url 'datanewsql:uploadRailwayType' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="file" class="dropify" data-default-file="ファイルを選択してください" name="csv">
  <button type="submit" class="btn" name="button">路線種別アップロード</button>
</form>

<form action="{% url 'datanewsql:uploadCountry' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="file" class="dropify" data-default-file="ファイルを選択してください" name="csv">
  <button type="submit" class="btn" name="button">国アップロード</button>
</form>

<form action="{% url 'datanewsql:uploadRegion' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="file" class="dropify" data-default-file="ファイルを選択してください" name="csv">
  <button type="submit" class="btn" name="button">地域アップロード</button>
</form>

<form action="{% url 'datanewsql:uploadPrefecture' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="file" class="dropify" data-default-file="ファイルを選択してください" name="csv">
  <button type="submit" class="btn" name="button">都道府県アップロード</button>
</form>

<form action="{% url 'datanewsql:uploadCompany' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="file" class="dropify" data-default-file="ファイルを選択してください" name="csv">
  <button type="submit" class="btn" name="button">事業者アップロード</button>
</form>

<form action="{% url 'datanewsql:uploadLine' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="file" class="dropify" data-default-file="ファイルを選択してください" name="csv">
  <button type="submit" class="btn" name="button">路線アップロード</button>
</form>

<form action="{% url 'datanewsql:uploadStation' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="file" class="dropify" data-default-file="ファイルを選択してください" name="csv">
  <button type="submit" class="btn" name="button">駅名アップロード</button>
</form>

<form action="{% url 'datanewsql:uploadLineService' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="file" class="dropify" data-default-file="ファイルを選択してください" name="csv">
  <button type="submit" class="btn" name="button">路線(運行系統)アップロード</button>
</form>

<form action="{% url 'datanewsql:uploadStationService' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="file" class="dropify" data-default-file="ファイルを選択してください" name="csv">
  <button type="submit" class="btn" name="button">駅名(運行系統)アップロード</button>
</form>

<a href="{% url 'datanewsql:StationDelete' %}">駅全削除</a>
<a href="{% url 'datanewsql:LineDelete' %}">路線全削除</a>
<a href="{% url 'datanewsql:CompanyDelete' %}">事業者全削除</a>
<a href="{% url 'datanewsql:StationServiceDelete' %}">駅(運行系統)全削除</a>
<a href="{% url 'datanewsql:LineServiceDelete' %}">路線(運行系統)全削除</a>
<script>
$(function(){
  $('.dropify').dropify();
})
</script>
  <small>&copy; 2020 nignagIC</small>
</body>